<main class="container jumbotron mt-5">
    <div class="row my-5">
        <div class="col-md-4">
            <img src="profilepicture.png" class="rounded-circle" alt="Profile picture">
        </div>
        <div class="col-md-8">
            <p class="font-weight-light">Hello my name is Emil Persson, also called RandomNoobCodes. I currently study software enginnering at Jönköping university. I am a motivated student that loves to learn new things. I work mostly with web development using JavaScript, HTML, CSS and SQL. I also know how to program in Java, C and C++.</p>
        </div>
    </div>
</main>