<main class="container jumbotron mt-5">
    <div class="row my-5">
        <div class="col-md-4 mr-5">
            <img src="profile.jpg" class="rounded-circle" alt="Profile picture">
        </div>
        <div class="col-md-6">
            <h4 class="font-weight-light">Hello my name is Emil Persson, also called RandomNoobCodes. I currently study software enginnering at Jönköping university. I am a motivated student that loves to learn new things. I work mostly with web development using JavaScript, HTML, CSS and SQL. I also know how to program in Java, C and C++.</h4>
        </div>
    </div>
</main>