<div class="container jumbotron my-5">
    <h1 class="text-center">Contact Information</h1>
    <p class="text-center">Here is some information about how to get in touch with me</p>
    <div id="contact-mail" class="row">
        <a href="mailto:emilper1999@gmail.com" target="_blank" class="mx-2"><img src="mail.png" alt="Picture of mail contact icon"></a>
        <p>If you want to contact me about work or anything like that feel free to send me an email at <a href="mailto:emilper1999@gmail.com" target="_blank">emilper1999@gmail.com</a></p>
    </div>
    <div class="row">
        <a href="https://twitter.com/RandomNoob724" target="_blank" class="mx-2"><img src="twitterlogo.png" alt="Twitter icon"></a>
        <p>I also have a <a href="https://twitter.com/RandomNoob724" target="_blank">Twitter</a> account where you can follow me to get quick updates about me and my life.</p>
    </div>
    <div class="row">
        <a href="https://instagram.com/RandomNoob724" target="_blank" class="mx-2"><img src="instagramlogo.png" alt="Instagram logo"></a>
        <p>Here you can find my <a href="https://instagram.com/RandomNoob724" target="_blank">Instagram</a> account where I mostly post pictures of code and the life of me </p>
    </div>
    <div class="row">
        <a href="https://github.com/RandomNoob724" target="_blank" class="mx-2"><img src="githublogo.png" alt="Github logo"></a>
        <p>You want to find my projects or see what i have worked on you can find it <a href="https://github.com/RandomNoob724" target="_blank">Here</a></p>
    </div>
</div>