<main>
    <div class="jumbotron container" id="create-post-form">
        <form class="form-createpost form" method="POST" action="/portfolio/create">
            <h1 class="text-center">Add new portfolio Project</h1>
            <div class="text-center mb-4">
                <h1 class="h3 mb-3 font-weight-normal">Write new post</h1>
                {{#if validationErrors.length}}
                    <p>Errors:</p>
                    <ul>
                        {{#each validationErrors}}
                            <li>{{this}}</li>
                        {{/each}}
                    </ul>
                {{/if}}
            </div>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <div class="form-label-group">
                <input name="projectName" type="text" class="form-control" placeholder="Project Name" value="{{projectName}}" id="create-post-input-field">
            </div>
            <div class="form-label-group">
                <textarea name="projectDescription" class="form-control" placeholder="Short description about the project" rows="5" id="create-post-input-field">{{projectDescription}}</textarea>
            </div>
            <div class="form-label-group">
                <input name="projectLink" class="form-control" placeholder="Link to project" type="text" id="create-post-input-field">
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit" id="create-post-submitbutton">Post</button>
        </form>
    </div>
</main>
