<main>
    <br>
    <div class="jumbotron container">
        <form class="form-createpost form" method="POST" action="/blog/create">
            <h1 class="text-center">Create blog-post</h1>
            <div class="text-center mb-4">
                <h1 class="h3 mb-3 font-weight-normal">Write new post</h1>
                {{#if validationErrors.length}}
                    <p>Errors:</p>
                    <ul>
                        {{#each validationErrors}}
                            <li>{{this}}</li>
                        {{/each}}
                    </ul>
                {{/if}}
            </div>
            <br>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <div class="form-label-group">
                <input name="blogpostHeader" type="text" id="blogpostHeader" class="form-control" placeholder="Blogpost Header" value="{{postHeader}}">
            </div>
            <br>
            <div class="form-label-group">
                <textarea name="blogpostText" class="form-control" placeholder="Main content" rows="20">{{postText}}</textarea>
            </div>
            <br>
            {{!-- <div class="form-label-group">
                <input name="blogpostImage" type="file" id="blogpostImage" accept="image/*">
            </div>
            <br> --}}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Post</button>
        </form>
    </div>
</main>
