<div class="container jumbotron">
    {{#if statusError.length}}
        {{#each statusError}}
            <h3>{{this}}</h3>
        {{/each}}
    {{else}}
        <h3>There was no error. How did you even get here?</h3>
    {{/if}}
</div>