<head>
    <link rel="stylesheet" href="/home.css">
</head>
<header id="main-header">
    <h1>RandomNoob724</h1>
    <p>aka</p>
    <h3>Emil Persson</h3>
</header>
<main>
    <h1>Main</h1>
    <p>hello world</p>
</main>