<head>
    <link rel="stylesheet" href="/home.css">
</head>
<header class="jumbotron jumbotron-fluid" id="main-header">
    <div class="container text-center">
        <h1>Emil Persson</h1>
        <p>aka</p>
        <h3>RandomNoobCodes</h3>
        <a href="#lower-home" id="no-link-style">
            <p class="scroll-down-arrow">⇩</p>
        </a>
    </div>
</header>
<main class="container text-center">
    <div class="col-md" id="lower-home">
        <h1>Hello</h1>
        <p>My name is Emil Persson and i am currently studying software engineering at Jönköping university, this is my portfolio website if you need to ask me anything or want to contact me go to the contact site and find information about how you can reach me.</p>
    </div>
</main>