<<<<<<< HEAD
<head>
    <link rel="stylesheet" href="/home.css">
</head>
<header class="jumbotron jumbotron-fluid" id="main-header">
    <div class="container text-center">
        <h1>RandomNoob724</h1>
        <p>aka</p>
        <h3>Emil Persson</h3>
    </div>
=======
<link rel="stylesheet" href="../main.css">
<header>
    <h1>Emil Persson</h1>
    <p>aka</p>
    <h2>RandomNoobCodes</h2>
>>>>>>> 41aa24004d2a62bdee75f28e4c7f57c1b4dcce8e
</header>
<main class="container col-lg">
    <h1>Main</h1>
    <p>hello world</p>
</main>