<div class="container-fluid">
    <table class="table table-striped col-md" id="project-table">
        <thead>
            <tr>
            <th scope="col">Title</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {{#if blogposts.length}}
                {{#each blogposts}}
                    <tr>
                        <td>{{blogpostHeader}}</td>
                        <td><a class="text-light" href="/blog/{{blogpostID}}/edit"><button class="btn btn-secondary">Edit</button></a></td>
                        <td>
                            <form method="POST" action="/blog/{{blogpostID}}/delete-post">
                                <button class="btn btn-danger" type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                {{/each}}
            {{else}}
                <td>No post found</td>
            {{/if}}
        </tbody>
    </table>
</div>