<div class="container-fluid">
    <table class="table table-striped col-md" id="project-table">
        <thead>
            <tr>
            <th scope="col">Title</th>
            <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {{#if projects.length}}
                {{#each projects}}
                    <tr>
                        <td>{{name}}</td>
                        <td><a class="text-light" href="/portfolio/{{id}}/delete"><button class="btn btn-danger">Delete</button></a></td>
                    </tr>
                {{/each}}
            {{else}}
                <td>No post found</td>
            {{/if}}
        </tbody>
    </table>
</div>