<head>
    <link rel="stylesheet" href="blogpost.css">
</head>

<div class="container">
    <img class="col-md-12 col-sm-12" src="http://placehold.it/750x300" alt="">
    <h1 class="text-center">{{blogpost.blogpostHeader}}</h1>
    <p id="blog-main-text">{{blogpost.blogpostText}}</p>
    <p>{{blogpost.blogpostDate}}</p>
</div>